
  .balls {
    border-radius: 50%;
    background: linear-gradient(
      35deg,
      #ccffff,
      #ffcccc
    );
    position: fixed;
    width: 50px;
    height: 50px;
    margin-top: 50px;
    animation-name: bounce;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    
  }
  #ball1 {
    left:27%;
    animation-timing-function:linear;

  }
  #ball2 {
    left:56%;
    animation-timing-function:ease-out;

  }

  @keyframes bounce {
    0% {
      top: 0px;
    }
    100% {
      top: 249px;
    }
  }

  /* Hay una serie de palabras clave predefinidas disponibles para opciones populares. Por ejemplo, el valor predeterminado es ease, que comienza lento, se
   acelera en el medio y luego vuelve a disminuir al final. Otras opciones incluyen ease-out, que es rápido al principio y luego 
  se ralentiza ease-in, que es lento al principio y luego se acelera al final, o linearque aplica una velocidad de animación constante en todo momento. */