
  .balls {
    border-radius: 50%;
    background: linear-gradient(
      35deg,
      #ccffff,
      #ffcccc
    );
    position: fixed;
    width: 50px;
    height: 50px;
    margin-top: 50px;
    animation-name: bounce;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    
  }
  #ball1 {
    background: blue;
    left:27%;
    animation-timing-function:linear;
    /* animation-timing-function: cubic-bezier(0.25, 0.25, 0.75, 0.75); */
    /* Una curva de Bézier cúbica está definida por cuatro puntos P0, P1, P2 y P3. P0 y P3 son el inicio y el final de la curva y,
     en CSS, estos puntos son fijos ya que las coordenadas son proporciones. 
    P0 es (0, 0) y representa el tiempo inicial y el estado inicial, P3 es (1, 1) y representa el tiempo final y el estado final. 
    animation-timing-function: cubic-bezier(x1, y1, x2, y2).*/

  }
  #ball2 {
    background: red;
    left:56%;
    animation-timing-function:ease-out;

  }

  @keyframes bounce {
    0% {
      top: 0px;
    }
    100% {
      top: 249px;
    }
  }

  /* Hay una serie de palabras clave predefinidas disponibles para opciones populares. Por ejemplo, el valor predeterminado es ease, que comienza lento, se
   acelera en el medio y luego vuelve a disminuir al final. Otras opciones incluyen ease-out, que es rápido al principio y luego 
  se ralentiza ease-in, que es lento al principio y luego se acelera al final, o linearque aplica una velocidad de animación constante en todo momento. */